{
    "timeout": 2,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "build/infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "TrueValue": {
            "ignore": [
                "Zalas\\Injector\\Service\\Injector::injectService"
            ]
        },
        "FalseValue": {
            "ignore": [
                "Zalas\\Injector\\Service\\Injector::filterDuplicateProperties"
            ]
        },
        "UnwrapArrayUnique": {
            "ignore": [
                "Zalas\\Injector\\Service\\Injector::filterDuplicateProperties"
            ]
        },
        "ArrayItemRemoval": {
            "ignore": [
                "Zalas\\Injector\\Service\\Injector::splitOnVisibilityAndMapToClasses"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "Zalas\\Injector\\Service\\Injector::injectService",
                "Zalas\\Injector\\Service\\Injector::getPropertyInjector"
            ]
        },
        "LessThanOrEqualTo": {
            "ignore": [
                "Zalas\\Injector\\Service\\Injector::cannotHaveDuplicates"
            ]
        },
        "Identical": {
            "ignore": [
                "Zalas\\Injector\\Reflection\\ReflectionExtractor::filterReflectionPropertiesForInjection"
            ]
        },
        "NotIdentical": {
            "ignore": [
                "Zalas\\Injector\\Service\\Injector::filterDuplicateProperties"
            ]
        },
        "GreaterThan": {
            "ignore": [
                "Zalas\\Injector\\Service\\Injector::filterDuplicateProperties"
            ]
        },
        "GreaterThanNegotiation": {
            "ignore": [
                "Zalas\\Injector\\Service\\Injector::filterDuplicateProperties"
            ]
        },
        "LogicalOr": {
            "ignore": [
                "Zalas\\Injector\\Service\\Injector::filterDuplicateProperties"
            ]
        },
        "LogicalAnd": {
            "ignore": [
                "Zalas\\Injector\\Reflection\\ReflectionExtractor::filterReflectionPropertiesForInjection"
            ]
        },
        "Ternary": {
            "ignore": [
                "Zalas\\Injector\\Service\\Injector::splitOnVisibilityAndMapToClasses"
            ]
        },
        "IncrementInteger": {
            "ignore": [
                "Zalas\\Injector\\Reflection\\ReflectionExtractor::filterReflectionPropertiesForInjection",
                "Zalas\\Injector\\Service\\Injector::splitOnVisibilityAndMapToClasses",
                "Zalas\\Injector\\Service\\Exception\\AmbiguousInjectionDefinitionException::__construct",
                "Zalas\\Injector\\Service\\Exception\\FailedToInjectServiceException::__construct",
                "Zalas\\Injector\\Service\\Exception\\MissingServiceException::__construct"
            ]
        },
        "DecrementInteger": {
            "ignore": [
                "Zalas\\Injector\\Service\\Injector::splitOnVisibilityAndMapToClasses",
                "Zalas\\Injector\\Service\\Exception\\AmbiguousInjectionDefinitionException::__construct",
                "Zalas\\Injector\\Service\\Exception\\FailedToInjectServiceException::__construct",
                "Zalas\\Injector\\Service\\Exception\\MissingServiceException::__construct"
            ]
        }
    }
}
